<a href="https://colab.research.google.com/github/ruthika5462/python-folders/blob/main/Copy_of_Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=25
b=25
c=a+b
print("total:",c)
print(type(a))
a=45
print(id(a))
print(id(b))
print(id(c))

total: 50
<class 'int'>
11128096
11127456
11128256

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
##input statement
name = input("enter name :")
print(type(name))
print(name)

enter name :ruthika
<class 'str'>
ruthika

In [ ]:
a =float(input("Enter the value of a:",a)
b =float(input("enter the value of b:",b)
c=a+b
print(c)

SyntaxError: ignored

In [ ]:
name1,name2,name3=input("enter 3 names").split()
print("name 1:",name1)
print("name 2:",name2)
print("name 3:",name3)

enter 3 namesruthika manju jayaprakash
name 1: ruthika
name 2: manju
name 3: jayaprakash

In [ ]:
a=""" typesetting industry truth about pasword hasing bruteforce method"""
print(a)

 typesetting industry truth about pasword hasing bruteforce method

In [ ]:
para=[23,24,25,26,23]
print(para[0])
print(para[1])

23
24

In [ ]:
para=["24","56","78"]
print(para)
print('|'.join(para))

['24', '56', '78']
24|56|78
enter a para:

In [ ]:
para=[]
print("enter the para")
while True:
  line=input()
  if line:
    para.append(line)
  else:
      break
   print(para)

enter the para

In [ ]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [ ]:
a=10.0
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
c=a+b
print("total:"+ str(c))

10.0
<class 'float'>
10
<class 'int'>
enter the value of a:10
enter the value of b:30
total:40

In [ ]:
##string and string functions
s="Ruthika"
print(s)
print(type(s))
print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.title())
print(s.count("t"))
print(s.endswith("es"))
print(s.endswith("ed"))
print(s.find("o",5))
print(s.replace("o",'0'))
a="ruthika"
print(a.isupper())
print(a.islower())
print(a.isalnum())
print(a.isalpha())
s="she\nis\ngood"
print(s)
print(s.splitlines())
print(s.splitlines(True))
print(len(s))
print(len(s.strip()))
print(len(s.lstrip()))

Ruthika
<class 'str'>
RUTHIKA
ruthika
Ruthika
Ruthika
1
False
False
-1
Ruthika
False
True
True
True
she
is
good
['she', 'is', 'good']
['she\n', 'is\n', 'good']
11
11
11

In [ ]:
##string manipulation
s="sample"
print(s)
print(s[0:2])
print(s[:5])
print(s[1:5])
print(s[-1])
print(s[3:5])
print(s[-2:-1])
print(s[::-1])

sample
sa
sampl
ampl
e
pl
l
elpmas

In [ ]:
##arithmetic operators
a=123
b=3
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a**b)
print(a//b)

126
120
41.0
369
1860867
41

In [ ]:
##assingment operator
a=125
print(a)
a+=5
print(a)
a-=10
print(a)
a*=10
print(a)
a/=10
print(a)
a%=10
print(a)
a**=10
print(a)
a//=10
print(a)

125
130
120
1200
120.0
0.0
0.0
0.0

In [ ]:
##comparision operator
a=10
b=20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [ ]:
##logical operator
a=25
print(a>=10 and a<=20)
print(a>=10  or a<=20)
print(not a>=10  and a<=20)

False
True
False

In [ ]:
##bitwise operstor
a=25
b=45
print(a&b)
a=25
b=45
print(a|b)
print(a^b)
print(~a)
print(a<<2)

9
61
52
-26

In [ ]:
##if statement
##write a program to check the given number is even no
n=int(input("enter the no:"))
if n%2==0:
  print(n,"is even number")
else:
  print(n,"is odd number")

enter the no:255
255 is odd number

In [ ]:
##write a program to check vote eligibility
name=(input("enter the name"))
age=int(input("enter the age"))
if age>=18:
   print(name,"age is",age,"eligible for vote")
else:
  print(name,"age is",age,"not eligible for vote")

enter the nameruhtika
enter the age19
ruhtika age is 19 eligible for vote

In [ ]:
##elif statement in python
days =int(input("enter the days:"))
if (days==0):
  print("good no fine")
elif(days>=1 and days<=5):
  print("fine amount:",days*0.5)
elif(days>=5 and days<=10):
  print("fine amount:",days*1)
elif(days>10 and days<=30):
  print("fine aount:",days*5)
else:
  print("membership cancelled")

enter the days:13
fine aount: 65

In [ ]:
##nested if statement
m1=int(input("enter mark1:"))
m2=int(input("enter mark2:"))
m3=int(input("enter mark3:"))
total=m1+m2+m3
average=total/3.0
print("total :",total)
print("average:",average)
if m1>=35 and m2>=35 and m3>=35:
  print("result:pass")
  if average>=90 and average<=100:
    print("grade :A")
  elif average>=80 and average<=90:
    print("grade:B")
  elif average>=70 and average<=80:
    print("grade :c")
else:
  print("result: Fail")
  print("grade: No grade")

enter mark1:59
enter mark2:89
enter mark3:95
total : 243
average: 81.0
result:pass
grade:B

In [ ]:
##while loop
i=1
while i<=10:
  print(i)
  i+=1
print("------------------")
print("Even no:")
n=20
i=2
while i<=20:
  print(i)
  i+=4
print("__________________")
print("odd no")
n=23
i=3
while i<=23:
  print(i)
  i+=3

1
2
3
4
5
6
7
8
9
10
------------------
Even no:
2
6
10
14
18
__________________
odd no
3
6
9
12
15
18
21

In [ ]:
##continue statment
i=1
while i<=20:
    if i%2==0:
     i=i+1
    continue
    print(i)
    i +=1

In [ ]:
###break statement
i=1
while i <=20:
  if i++7:
    break
 print(i)
  i+=1