<a href="https://colab.research.google.com/github/ruthika5462/python-folders/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A={0,2,4,5,6}
B={1,2,3,4,5}
print("union:", A || B)
print("intersection",A & B)
print("Diffrence",A-B)
print("symmetric diffrence",A^B)

SyntaxError: ignored

In [ ]:
s = {'g', 'e', 'k', 's'}
 
# adding 's'
s.add('f')
print('Set after updating:', s)

Set after updating: {'e', 'k', 's', 'f', 'g'}

In [ ]:
ruthika={1,2,4,7,8,5}
ruthika.discard(5)
print("set after updating",ruthika)

set after updating {1, 2, 4, 7, 8}

In [ ]:
ruthika.remove(7)
print("set after updating",ruthika)

set after updating {1, 2, 4, 8}

In [ ]:
print('\n popped element',ruthika.pop())
print('set after updating:',ruthika)

 popped element 1
set after updating: {2, 4, 8}

here pop element which is based on the stack implementation like  **LIFO**

---

pop the first element

In [ ]:
ruthika.clear()
print('\n set after updating:',ruthika)

 set after updating: set()

In [ ]:
ruthika.copy()
print('\n set after updating',ruthika)

 set after updating set()

In [ ]:
ruthika.frozenset()
print('\n set after upsdating',ruthika)

AttributeError: ignored

here set object doesnt have a frozen **set**

In [ ]:

A={10,20,30,40,50}
B={100,30,60,49,50}
print(A-B)
print(B-A)

{40, 10, 20}
{49, 100, 60}

**python set diffrence updat**e

In [ ]:
A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
 
# Modifies A and returns None
A.difference_update(B)
 
# Prints the modified set
print (A)

{10, 20}

In [ ]:
a={1,2,3,4,5,6}
b={6,7,8,2,3,4}
a.diffrence_update(b)
print(a)

AttributeError: ignored

**set and frozen set**
    set doesnt allow duplicate elements
    it is a unordered collection it is unique
    To remove duplicate elements use set
    EXAMPLE
**bold text**

In [ ]:
numbers=[1,2,3,4,3,4]
unique_numbers=set(numbers)
print(unique_numbers)

{1, 2, 3, 4}

to add a element in a unique element

In [ ]:
unique_numbers.add(5)
print(unique_numbers)

{1, 2, 3, 4, 5}

**Frozen set**
there is no chance to change the content of our set in that case we can use a frozen set

In [ ]:
fs=frozenset(numbers)
print(fs)

frozenset({1, 2, 3, 4})

in frozen set we cannot able to** add **the element that why the content is not **changeable**

In [ ]:
frozenset.add(5)
print(frozenset)

AttributeError: ignored

In [ ]:
X={'a','b','c'}#should be configured while declaring  as such it should not be given declare in string format...
"a" in X 
"g" in X
for i in X:
  print(i)

a
b
c

Binary search time complexity (log n)  
all the values has to be sorted 
specify lower bound and upper bound
find middle value
**mid=lower+upper/2**
check whether the mid value what we have got is matched with the given searching index value
if  it is not matched change the lower bound or upper  bound
for this we have to check the value which we are searching for is smaller or bigger than the mid value
if the value is smaller change the upper bound
if the value is bigger than mid value then change the lower and mid becomes new lower bound

Linked list used a node to move one from other,
node contains  a pointer
here pointer is memoryaddressof next node
linked list is changeable
linear search

In [ ]:
class node:
  def_init_(self,data=None):
    self.data=data
    self.next=None  #pointer 
class linkedlist:
   def_init_(self):
     self.head=node() #here head is main to keep track of every node
  def append(self,data) :
    new_node=node(data) ##creating new node for class node and insertig the data
  ##creating a variable to store the node
  cur=self.head
  while cur.next!=None:
    cur=cur.next 
    ##once we know the last element of list we can set the new noe
    cur.next=new_node
    ##to figure the length
    def length(self):
      curr=self.head
      total=0
      while cur.next!

**DICTONARY**

In [ ]:
dict={}
dict1={1:'python',2:'java',3:'c++'}
print(dict1)

{1: 'python', 2: 'java', 3: 'c++'}

In [ ]:
dict={1:'python',2:'java',3:'c++'}
print(dict.keys())
for x in dict:
   print(dict[x])

dict_keys([1, 2, 3])
python
java
c++

In [ ]:
dict1={1:'python'}  ## for updating
dict[3]="c"
dict[4]="php"
len(dict1)
str(dict1)

"{1: 'python'}"

for deleting

In [ ]:
dict = {1:'Python',2:'Java',3:'C++',4 : 'PHP'}
del dict[3] # remove entry with key 'Name'
print(dict)

dict.clear() # remove all entries in dict
print("dict : ",dict)

del dict # delete entire dictionary
print(dict[2])

{1: 'Python', 2: 'Java', 4: 'PHP'}
dict :  {}

TypeError: ignored

In [ ]:
dict1={1:'ruthika',2:'janani',3:'kanishka'}
dict2=dict1.(copy)
print(dict2)

SyntaxError: ignored

SyntaxError: ignored

In [ ]:
dict1 = {1:'Python',2:'Java',3:'C++',4 : 'PHP'}
print(dict1.items())

dict_items([(1, 'Python'), (2, 'Java'), (3, 'C++'), (4, 'PHP')])

In [ ]:
##FOR LOOP
##post test
##the control will enter the loop after that the condition will be cheked
pre test
##the condition will be checked in the beginning of the loop
int python there is post test only pretest

while loop will be used when we do know how many iterations to be done
SYNTAX:
  while expression:
  statements
example
print the integers  from 0 to 9

In [ ]:
count =0
while count<9:
  print("number",count)
  count=count+1
print("good bye")

number 0
number 1
number 2
number 3
number 4
number 5
number 6
number 7
number 8
good bye

In [ ]:
import random
n=20
to_be_guessed = int(n*random.random()+1)
guess = 0
while guess !=to_be_guessed:
    guess=int(input("new number:"))
    if guess>0:
        if guess > to_be_guessed:
            print("number too large")
        elif guess <to_be_guessed:
            print("number too small")
    else:
         print("sorry that you are giving up!")
         break
else:
    print("congratulation .you made it!")5
    78

new number:3
number too small
new number:6
number too small
new number:7
number too small
new number:

ValueError: ignored

In [ ]:
#FOR LOOP
#it is used ehen the number of iteration are reqired:
fruits = ['mango','apple','banana']
for fruit in fruits:
  print("current fruits",fruit)
print("good bye")

current fruits mango
current fruits apple
current fruits banana
good bye

In [ ]:
for number in range(1,10,2):
  print("attempt",number,(number)* ".")

attempt 1 .
attempt 3 ...
attempt 5 .....
attempt 7 .......
attempt 9 .........

In [ ]:
succesful = True
for  number in range (3):
  print("attempt")
if successful:
     print("successful")

attempt
attempt
attempt

NameError: ignored

In [ ]:
x=[1,2,3,"registration"]
for i in x:
  print(i)

1
2
3
registration

In [ ]:
class node:
  def_init_(self,node):

SyntaxError: ignored

In [ ]:
your_name=input('please enter your name')
print(your_name)

arrays in python

In [ ]:
##Homogeneous and heterogeneous
##it contains  same data type 
##it contains diffrent data type
##length of an array

SyntaxError: ignored

In [ ]:
print("how many elemnet to store in the array",end="")
num=input()
arr=[]
print("\n Enter",num,"element:")
num=int(num)
for i in range(num):
  element=input()
  arr.append(element)
  print("array of elements are")

how many elemnet to store in the array4

 Enter 4 element:5,6,7,8

 array of elements are
8

 array of elements are
3

 array of elements are
55

 array of elements are

In [ ]:
r_num=int(input("input the number:"))
c_num=int(input("input ther number:"))
twod_arr=[[0 for col in range(c_num)] for row in range(r_num)]
for row in range(r_num):
  for col in range(c_num):
    twod_arr[row][col]=row*col
print(twod_arr)

input the number:5
input ther number:3
[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6], [0, 4, 8]]

In [ ]:
r_num=int(input("input the number:"))
c_num=int(input("input ther number:"))
twod_arr=[[0 for row in range(r_num) for col in range(c_num)]]
for row in range(r_num):
  for col in range(c_num):
    twod_arr[col][row]=col*row
print(twod_arr)

input the number:3
input ther number:2

IndexError: ignored

In [ ]:
arr =[10,2,35,34,5,67]
temp=0;
##displaying elements for orginal array
print("elements of orginal array")
for i in range(0,len(arr)):
  print(arr[i])
##sort the array in ascending order
for i in range(0,len(arr)):
   for j in range(i+1,len(arr)):
     if(arr[i]>arr[j]):
       temp=arr[i];
       arr[i]=arr[j];
       arr[j] =temp;

In [ ]:
print("enter the size of an array")
tot=int(input())
arr=[]
print("enter the elements")
for i in range(tot):
  arr.append(input())
print("enter the values to delete:")
val=input()
if val in arr:
   arr.remove(val)
   print("the new array:")
   for i in range(tot-1):
      print(arr[i]+" ")
else:
    print("element doesnot exist in the list")

enter the size of an array
4
enter the elements
3
4
6
7
enter the values to delete:
3
the new array:
4
6
7

In [ ]:
x=int(input("enter the size of array"))
arr=[]
y=int(input("enter the elements"))
for i in range(y):
    arr.append(input())
z=int(input("enter the values to delete:"))
if z in arr:
    arr.remove(z)
    print("the new array is")
    for i in range(z-1):
        print(arr[i]+1)
else:
    print("element does not exist")

enter the size of array6
enter the elements5
2
3
1
4
6
enter the values to delete:1
element does not exist

**LINEAR SEARCH**

In [ ]:
pos=-1
def search(list,n):
  i=0
  while i<len(list):
    if list[i] ==n:
     globals()['pos']=i
     return True;
    i=i+1  
  return False;

list=[5,8,4,6,9,2]
n=2
if search(list,n):
   print("found at",pos+1)
else:
  print("not found")

found at 6

Linaer search is a sequential search
it sequentially checks
until it matches

In [ ]:
arr=[1,2,3,4,5]
def getsubarraywith sum(arr,s):
  result=[]
  for x in range(len(arr)):
    result.append(arr[x])
    if

In [ ]:
#stack
class stack:
  def__init__(self)
  self.stack=[]

In [ ]:
a=25
b=30
c=a+b
print("total:",c)
print(type(a))
print(id(a))
print(id(b))

total: 55
<class 'int'>
11123360
11123520

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
name=input("enter the name")
print(name)
print(type(name))

enter the nameruthika
ruthika
<class 'str'>

In [ ]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=a+b
print(c)
print(type(a))

enter the value of a2
enter the value of b3
5
<class 'int'>

In [ ]:
name1,name2,name3 = input("enter 3 names").split(',')
print("name1:",name1)
print("name2:",name2)
print("name3:",name3)

enter 3 namesruthika

ValueError: ignored

In [ ]:
a="""ruhtika manju janani kanishka """
print(type(a))

<class 'str'>

In [ ]:
para=[]
print(type(para))

<class 'list'>

In [ ]:
para=["22","24","56"]
print(para[2])
print(para)
print( ','.join(para))

56
['22', '24', '56']
22,24,56

In [ ]:
para=[]
print("enter the para")
while True:
  line=input()
  if line:
    para.append(line)
  else:
    break
print("para")

enter the para
ruthika jodusudhjmx
ndjhdi
1

In [ ]:
para=[]
print("enter the para")
while True:
  line=input()
  if line:
    para.append(line)
else:
     break
print(para)

SyntaxError: ignored

In [ ]:
##typecasting
"""a=10.0
print(a)
print(type(a))
b=int(a)
print(b)"""
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
c=a+b
print("total:",(c))

enter the value of a:20
enter the value of b:20
total: 40

In [ ]:
##string and string function
s="tutor joe"
print(s)
print(type(s))
print(s.upper())
print(s.lower())
print(s.capitalize)
print(s.title())
print(s.count("j"))
print(s.endswith("ED"))
print(s.find('o',5))
print(s.replace('o','0'))
a=""

tutor joe
<class 'str'>
TUTOR JOE
tutor joe
<built-in method capitalize of str object at 0x7fe55493f670>
Tutor Joe
1
False
7
tut0r j0e