<a href="https://colab.research.google.com/github/ruthika5462/python-folders/blob/main/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:

#identity operators
##is
##is not
a=[1,2]
b=[1,2]
c=a
print(id(a))
print(id(c))
print(a is c)
print( a is b)
print(a==b)
print(a is not c)
print(a is not b)
print(a!=b)

140518774827280
140518774827280
True
False
True
False
True
False

In [6]:
##membership operators
a=[10,25,45,88]
print(45 in a)
print(22 in a)
print(22 not in a)

True
False
True

In [7]:
##functions
def welcome():
  print("welcome to tutor joe")
welcome()
welcome()
welcome()

welcome to tutor joe
welcome to tutor joe
welcome to tutor joe

In [8]:
#no returntype without argument function in python
def add():
  a=int(input("enter the value of a:"))
  b=int(input("enter thee value of b"))
  c=a+b
  print("total",c)
add()

enter the value of a:10
enter thee value of b20
total 30

In [9]:
#no return with argument
def sub(a,b):
  c=a-b
  print("diffrence:",c)
sub(25,2)

diffrence: 23

In [10]:
##return type without argument
def mul():
  a=int(input("enter the value of a:"))
  b=int(input("enter the value of b:"))
  c=a*b
  return c
x=mul()
print("Mul",x)

enter the value of a:23
enter the value of b:45
Mul 1035

In [12]:
##return type with argument
def div(a,b):
  c=a-b
  return c
x=div(25,2)
print("division",x)

division 23

In [13]:
##arbitary argument(**)
def class_10(*students):
  print(students)
  for user in students:
    print(user)
class_10("Ram","sam","raja","sara")

('Ram', 'sam', 'raja', 'sara')
Ram
sam
raja
sara

In [15]:
##keyword  function
def message(name,age):
  print(name,"age is",age)
message(age=25,name="Ram")

Ram age is 25

In [16]:
##arbitary keyword function
def biodata(**data):
  print(data)
biodata(name="Ram kumar",age=25,gender="male")

{'name': 'Ram kumar', 'age': 25, 'gender': 'male'}

In [17]:
##default parameter function
def user(name,city="salem"):
     print(name,"is from",city)
user("ram","namakkal")
user("sam")

ram is from namakkal
sam is from salem

In [19]:
##passing a list as argument in function
def total (marks):
  return sum(marks)
print(total([56,78,90,34,67,89]))

414

In [22]:
##recursive function
def factorial(x):
    if x==1:
      return 1
    else:
      return(x*factorial(x-1))
print("factorial:",factorial(5))

factorial: 120

In [24]:
##lambda function
c=lambda a:a+50
print(c(5))
c=lambda a,b:a*b
print(c(10,25))

55
250

In [34]:
from pickle import DICT
##data time function
import datetime as dt
current_date=dt.date.today()
print("current date:",current_date)
new=dt.date(2022,11,30)
print(new)
print("year:",new.year)
print("month:",new.month)
print("day:",new.day)
print("_______________________")
a=dt.time(10,45,5,555505)
print(a)
print("hour:",a.hour)
print("minute:",a.minute)
print("second:",a.second)
current_time=dt.datetime.now()
print("current time:",current_time)
print("__________________________")
new=dt.datetime(2021,5,31,12,2,10)
print(new)
print(new.date())
print(new.time())
print("______________________")
current=dt.datetime.now()
print(current)
s=current.strftime("%a %b %d %y")
print(s)

current date: 2022-10-30
2022-11-30
year: 2022
month: 11
day: 30
_______________________
10:45:05.555505
hour: 10
minute: 45
second: 5
current time: 2022-10-30 01:49:32.008413
__________________________
2021-05-31 12:02:10
2021-05-31
12:02:10
______________________
2022-10-30 01:49:32.015674
Sun Oct 30 22

In [46]:
import math
print(math.sqrt(4))
print(math.ceil(1.55555))
print(math.floor(1.55555))
print(math.factorial(5))
print(math.fabs(-5))
print(math.pow(2,4))
print(math.log2(2))
print(math.log10(2))
print(math.pi)
print(math.e)

2.0
2
1
120
5.0
16.0
1.0
0.3010299956639812
3.141592653589793
2.718281828459045

In [48]:
##try block
try:
     a=10/0
except Exception as e:
   print(e)

division by zero

In [50]:
##try else block
try:
       a=10/25
except Exception as e:
        print(e)
else:
  print("A value:",a)

A value: 0.4

In [52]:
##try except else finally
try:
       a=10/25
except Exception as e:
        print(e)
else:
  print("A value:",a)
finally:
  print("thankyou")

A value: 0.4
thankyou

In [54]:
##types of exception
print(dir(locals()['__builtins__']))
print(len(dir(locals()['__builtins__'])))
try:
  f=open("test.txt")
except FileNotFoundError:
  print("file not found")
else:
  print(f.read())

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']
155
file not found