<a href="https://colab.research.google.com/github/ruthika5462/python-folders/blob/main/problem_solving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##amstrong number
for i in range(99):
  num=i
  result=0
  n=len(str(i))
  while(i!=0):
    digit=i%10
    result==result+digit**n
    i=i//10
  if num==result:
    print(result)

0

In [ ]:
n = int(input("enter the number of rows:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end="")
  print()

enter the number of rows:5
1
22
333
4444
55555

In [ ]:
n=int(input("enter the number of rows:"))
for row  in range(n):
  for  col in range(n):
    if col==0 or row==(n-1) or row==col:
      print("*",end="")
    else:
      print(end=" ")
  print()

enter the number of rows:10
*
**
* *
*  *
*   *
*    *
*     *
*      *
*       *
**********

In [ ]:
n=int(input("enter the number of rows:"))
for row in range(n):
  for col in range(n):
       if  col==0 or  row==n-1 or row==col:
           print("*",end="")
       else:
           print(end="")
  print()

enter the number of rows:10
*
**
**
**
**
**
**
**
**
**********

In [ ]:
##factorial in inbuilt
import math
n=int(input("enter the number:"))
result=math.factorial(n)
print("factorial of ",n,"is",result)

enter the number:9
factorial of  9 is 362880

In [ ]:
##factorial in recursion n!=(n-1)
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)
n = int(input("enter the number:"))
result = fact(n)  
print("factorial of",n,"is",result)

enter the number:0
factorial of 0 is 1

In [5]:
n=int(input("enter the number:"))
result=1
for i in range(n,0,-1): ##5 4 3  2 1
   result=result*i
print("factorial of",n,"is",result)

enter the number:-5
factorial of -5 is 1

In [8]:
n=int(input("enter the number of rows:"))
for row in range(0,n):
  for col in range(0,n):
    if row==0 or col==(n-1) or  row==col:
        print("*",end="")
    else:
      print(end=" ")
  print()

enter the number of rows:6
******
 *   *
  *  *
   * *
    **
     *

In [10]:
##flodys triangle
n=int(input("enter the number of rows:"))
num=1
for row in range(1,n+1):
  for col in range(1,row+1):
    print(num,end="  ")
    num=num+1
  print()

enter the number of rows:5
1
2  3
4  5  6
7  8  9  10
11  12  13  14  15

In [13]:
string=input("enter the string:")
length=len(string)  ##no of rows
for row in range(length):
    for col in range(row+1):
         print strin

SyntaxError: ignored

In [14]:
n=int(input("enter  how many numbers you want in this series:"))
first = 0  ##var
second = 1  ##var
for i in range(n):
  print(first)
  temp = first
  first = second
  second=temp+second

enter  how many numbers you want in this series:10
0
1
1
2
3
5
8
13
21
34

In [15]:
n =int(input("enter the number of rows:"))
for row in range(n,0,-1):
  for col in range(1,row+1):
    print(col,end=" ")
  print()

enter the number of rows:6
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [19]:
##prime numbers in given interval
lower=int(input("enter the lower interval:"))
upper=int(input("enter the upper interval:"))
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
        if(num%1)==0:
            break
    else:
      print(num)

enter the lower interval:1
enter the upper interval:100
2

In [21]:
num=int(input("enter any positive number to check whteher it is prime or not:"))
if num>1:
  for i in range(2,num):
    if (num%i)==0:
      print(num,"is not a prime number")
      break
  else:
        print(num,"is a prime number")
else:
     print(num,"is not a prime number")

enter any positive number to check whteher it is prime or not:15
15 is not a prime number

In [27]:
n=int(input("enter the number of rows:"))
for row in range(1,n+1):
  for col in range(1,2*n):
     if row==n or  row+col==n+1 or col-row==n-1:
       print("*",end="")
     else:
      print(end=" ")
  print()

enter the number of rows:6
     *
    * *
   *   *
  *     *
 *       *
***********

In [33]:
##perfect number
num=int(input("enter the number:"))
result=0
for i in range(1,num):
  if (num%i)==0:
    result=result+i
if result==num:
   print(num,"is perfect number")
else:
  print(num,"not a perfect number")

enter the number:28
28 is perfect number

In [37]:
##perfect number in the interval
lower=int(input("enter the lower limit:"))
upper=int(input("enter the upper limit"))
for num in range(lower,upper+1):
  result=0
  for i in range(1,num):
    if (num%i)==0:
      result=result+i
    if result==num:
      print(num,"is perfect number")
  else:
    print(num,"not a perfect number")

enter the lower limit:1
enter the upper limit10
1 not a perfect number
2 not a perfect number
3 not a perfect number
4 not a perfect number
5 not a perfect number
6 is perfect number
6 is perfect number
6 is perfect number
6 not a perfect number
7 not a perfect number
8 not a perfect number
9 not a perfect number
10 not a perfect number

In [38]:
##swapping two numbers
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
temp=a
a=b
b=temp
print("after swapping")
print("value of a:",a)
print("value of b:",b)

enter the value of a:10
enter the value of b:5
after swapping
value of a: 5
value of b: 10

In [39]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
a=a+b
b=a-b
a=a-b
print("after swapping")
print("value of a",a)
print("value of b",b)

enter the value of a:5
enter the value of b:10
after swapping
value of a 10
value of b 5

In [ ]:
##while loop to print the pattern
num=int(input("enter the number of rows:"))