<a href="https://colab.research.google.com/github/ruthika5462/python-folders/blob/main/range_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##range in python
print(list(range(5)))
print(list(range(0,21,2)))
print(list(range(1,20,2)))

[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
##for loop
for i in range(20):
  print(i)
for i in range(5):
  a=int(input("Enter a no:"))
  b=int(input("enter a no"))
  print(a+b )

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Enter a no:10
enter a no10
20
Enter a no:50
enter a no50
100
Enter a no:70
enter a no60
130
Enter a no:70
enter a no60
130
Enter a no:40
enter a no30
70

In [ ]:
##nested loop
for i in range(5):
  for j in range(i):
    print("*",end=" ")  
  print("")  
print("________________")
for i in range(5,0,-1):
  for j in range(i):
    print("*",end=" ")
  print("")
print("________________")
for i in range(65,70,1):
  for j in range(64,70,1):
       print(chr(i),end=" ")
  print("")

*
* *
* * *
* * * *
________________
* * * * *
* * * *
* * *
* *
*
________________
A A A A A A
B B B B B B
C C C C C C
D D D D D D
E E E E E E

In [ ]:
##while else and for else
i=1
while i<=5:
  print(i)
  i+=1
else:
  print("loop completed")

In [ ]:
##LIST ##mutable
a=[1,2,3,4,5]
print(a)
print(type(a))
a[0]=100
print(a)
print(a[1])
print(a[-1])
print(a[0:3])
print(a[2:])
print(a[:3])
print("____________________")
a=[1,True,'Ram',2.5,[1,2,3,4,5]]
print(type(a))
print(a[0]," type is",type(a[0]))
print(a[1]," type is",type(a[1]))
print(a[2]," type is",type(a[2]))
print(a[3]," type is",type(a[3]))
print(a[4],"type is",type(a[4]))
print(a[4][1])
print("_____________________")
a=[10,20,20,26,78]
print(a)
a.clear()
print(a)
a=[10,25,35,45]
b=a.copy()
print(b)
a=[2,3,4,5,6,7]
print(a.count(7))
print(len(a))
print(max(a))
print(min(a))
a.pop(0)
print(a)
a=[10,23,45,67,89,25,24]
a.remove(25)
print(a)
names=["Ram"]
names.append("shyam")
names.append("ravi")
print(names)
name2=["ruthika","anitha"]
names.extend(name2)
print(names)
names.insert(0,"suriya")
print(names)
print(list(range(5)))
print(list("tutor joes"))
a=[12,45,67,78,95,34]
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a=["orange","apple","zebra"]
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a.sort(key=len)
print(a)

[1, 2, 3, 4, 5]
<class 'list'>
[100, 2, 3, 4, 5]
2
5
[100, 2, 3]
[3, 4, 5]
[100, 2, 3]
____________________
<class 'list'>
1  type is <class 'int'>
True  type is <class 'bool'>
Ram  type is <class 'str'>
2.5  type is <class 'float'>
[1, 2, 3, 4, 5] type is <class 'list'>
2
_____________________
[10, 20, 20, 26, 78]
[]
[10, 25, 35, 45]
1
6
7
2
[3, 4, 5, 6, 7]
[10, 23, 45, 67, 89, 24]
['Ram', 'shyam', 'ravi']
['Ram', 'shyam', 'ravi', 'ruthika', 'anitha']
['suriya', 'Ram', 'shyam', 'ravi', 'ruthika', 'anitha']
[0, 1, 2, 3, 4]
['t', 'u', 't', 'o', 'r', ' ', 'j', 'o', 'e', 's']
[12, 34, 45, 67, 78, 95]
[95, 78, 67, 45, 34, 12]
['apple', 'orange', 'zebra']
['zebra', 'orange', 'apple']
['zebra', 'apple', 'orange']

In [ ]:
##tuple  ##immutable
a=(1,2.5,True,"Ram")
print(a)
print(type(a))
print(a[1])
print(a[-1])
print(a[0:2])
b=list(a)
print(b)
b.append("Raja")
print(b)
print(type(b))
a=tuple(b)
print(a)
print(type(a))
for i in a:
  print(i)
if "Raja " in a:
    print("raja is found")
else:
  print("not found")
print(len(a))
a=(1,)  ##single item use comma then only it take as tuple
print(type(a))
del a
a=(1,2,7,4)
b=(5,6,7,8)
c=a+b
print(c.count(7))

a=(1,2,3,4,5)
b=(5,6,7,8)
c=(a,b)
print(c)
print(c[0])
print(c[1])
print(c[0][1])
x = ('Joes',) *10
print(x)
print(max(a))

(1, 2.5, True, 'Ram')
<class 'tuple'>
2.5
Ram
(1, 2.5)
[1, 2.5, True, 'Ram']
[1, 2.5, True, 'Ram', 'Raja']
<class 'list'>
(1, 2.5, True, 'Ram', 'Raja')
<class 'tuple'>
1
2.5
True
Ram
Raja
not found
5
<class 'tuple'>
2
((1, 2, 3, 4, 5), (5, 6, 7, 8))
(1, 2, 3, 4, 5)
(5, 6, 7, 8)
2
('Joes', 'Joes', 'Joes', 'Joes', 'Joes', 'Joes', 'Joes', 'Joes', 'Joes', 'Joes')
5

In [ ]:
###sets
names={'Ram','sam','Ravi'}
print(names)
print(type(names))
for name in names:
  print(name)
## adding new element
names.add('sara')
print(names)
##update another set of data

{'sam', 'Ravi', 'Ram'}
<class 'set'>
sam
Ravi
Ram
{'sara', 'sam', 'Ravi', 'Ram'}

In [ ]:
a={'ruthika' ,'manju','jayaprakash'}
names.update(a)
print(names)
names.discard('suresh')
print(names)
names.pop()
print(names)
names.clear()
print(names)

NameError: ignored

In [ ]:
a={1,2,3,4}
b={'a','b','c','d'}
c=a.union(b)
print(c)
a.update(b)
print(a)
##intersection
a={1,2,3,4,5}
b={5,6,7,8,9}
c=a.intersection(b)
print(c)
a.intersection_update(b)
print(a)
##symmetric
a={1,2,3,4,5}
b={6,7,8,9,5}
c=a.symmetric_difference(b)
print(c)
a.symmetric_difference_update(b)
print(a)
##disjoint
a={1,2,3,4,5}
b={5,6,7,8,9}
c=a.isdisjoint(b)
print(c)
##subset
a={5,6,7}
b={5,6,7,8}
c=a.issubset(b)
print(c)
c=a.issuperset(b)
print(c)

{1, 2, 3, 4, 'd', 'b', 'c', 'a'}
{1, 2, 3, 4, 'd', 'b', 'c', 'a'}
{5}
{5}
{1, 2, 3, 4, 6, 7, 8, 9}
{1, 2, 3, 4, 6, 7, 8, 9}
False
True
False

In [ ]:
##dict
user={
    "name" :"Ram",
    "age":25,
    "isMarried":True
}
print(user)
print(type(user))
print(user['name'])
print(user.get('age'))
print(user.keys())
print(user.values())
print(user.items())
for x in user:
  print(x,"",user[x])
for x in user.values():
  print(x)
for x in user.keys():
  print(x)

{'name': 'Ram', 'age': 25, 'isMarried': True}
<class 'dict'>
Ram
25
dict_keys(['name', 'age', 'isMarried'])
dict_values(['Ram', 25, True])
dict_items([('name', 'Ram'), ('age', 25), ('isMarried', True)])
name  Ram
age  25
isMarried  True