<a href="https://colab.research.google.com/github/ruthika5462/python-folders/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##swap two numbers
num1=10
num2=20
print("value of num1 before swapping:",num1)
print("value of num2 before swapping:",num2)
temp = num1 ##10
num1=num2 #20
num2=temp #10
print("value of num1 after swapping:",num1)
print("value of num2 after swapping:",num2)

value of num1 before swapping: 10
value of num2 before swapping: 20
value of num1 after swapping: 20
value of num2 after swapping: 10

In [ ]:
num1=input("enter thhe value of num1:")
num2=input("enter the value of num2:")

print("the value of num1 before swapping:",num1)
print("the value of num2 before swapping:",num2)
temp=num1
num1=num2
num2=temp
print("the value of num2 after swapping:",num1)
print("the value of num2 after swapping:",num2)

enter thhe value of num1:5
enter the value of num2:4
the value of num1 before swapping: 5
the value of num2 before swapping: 4
the value of num2 after swapping: 4
the value of num2 after swapping: 5

In [ ]:
num1=input("enter thhe value of num1:")
num2=input("enter the value of num2:")

print("the value of num1 before swapping:",num1)
print("the value of num2 before swapping:",num2)
num1,num2 = num2,num1
print("the value of num1 after swapping:",num1)
print("the value of num2 after swapping:",num2)

enter thhe value of num1:2
enter the value of num2:3
the value of num1 before swapping: 2
the value of num2 before swapping: 3
the value of num1 after swapping: 3
the value of num2 after swapping: 2

In [ ]:
#prime or not
num =6
count=0
if num>1:
  for i in range(1,num+1):
       if(num%i)==0:
        count=count+1
  if count ==2:
    print("number is prime")
  else:
    print("number is not prime")

number is not prime

In [ ]:
factorial=1
num=9
if num<0:
  print("factorial doesnot exist for negative numbers")
elif num==0:
  print("the factorial of 0 is 1")
else:
  for i in range(1,num+1):
    factorial=factorial * i
    print("the factorial of",num,"is",factorial)

the factorial of 9 is 1
the factorial of 9 is 2
the factorial of 9 is 6
the factorial of 9 is 24
the factorial of 9 is 120
the factorial of 9 is 720
the factorial of 9 is 5040
the factorial of 9 is 40320
the factorial of 9 is 362880

In [ ]:
def factorial(n):
  if (n==0 or n==1):
     return 1
  else:
    return n*factorial(n-1)
num=5
print("factorial of a ",num,"is",factorial(num))

factorial of a  5 is 120

In [ ]:
##fibonacci series
n1=0
n2=1
print(n1)
print(n2)
for i in range(2,10):
  sum=n1+n2
  print(sum)
  n1=n2
  n2=sum

0
1
1
2
3
5
8
13
21
34

In [ ]:
##sum of elements in array
arr=[1,2,3,4,5]
print(sum(arr))
print(sum(arr,-10))

TypeError: ignored

In [ ]:
##number pattern flodys triangle
n=int(input("number of rows"))
k=0
for i in range(n):
  k=k+i
m=n+k
for i in range(n):
  for j in range(i+1): ##for right triangle
     print(format(m,"<3" ),end=" ")
     m=m-1
  print()

number of rows12
78
77  76
75  74  73
72  71  70  69
68  67  66  65  64
63  62  61  60  59  58
57  56  55  54  53  52  51
50  49  48  47  46  45  44  43
42  41  40  39  38  37  36  35  34
33  32  31  30  29  28  27  26  25  24
23  22  21  20  19  18  17  16  15  14  13
12  11  10  9   8   7   6   5   4   3   2   1

In [ ]:
num=int(input("enter an integer number:"))

In [ ]:
for i in range(0,11):
  print(i)
  print("hello",end=" ");
  print("hi")

0
hello hi
1
hello hi
2
hello hi
3
hello hi
4
hello hi
5
hello hi
6
hello hi
7
hello hi
8
hello hi
9
hello hi
10
hello hi

In [ ]:
num=int(input("enter the no of rows:"))
for i in range(1,num+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

enter the no of rows5
*
**
***
****
*****

In [ ]:
num=int(input("enter the no of rows:"))
k=1
for i in range(1,num+1):
  for j in range(1,i+1):
    print("1", end=" ")
    k=k+2
  print()

enter the no of rows:3
1
1 1
1 1 1

In [ ]:
num=int(input("enter the no of rows:"))
for i in range(0,num):
    for j in range(0,num-i-1):
       print(end="")
    for j in range(0,2*i+1):
       print("*",end="")
    print()

enter the no of rows:5
*
***
*****
*******
*********

In [ ]:
def pyramid(rows):
  for i in range(rows):
    print(''*(rows-i-1)+'*'*(2*i+1))

In [ ]:
##reverse of pyramid shape
num=int(input("enter the no of rows:"))
for i in range(num,0,-1):
  for j in range(0,num-i):
      print(end=" ")
  for j in range(0,i):
      print("*", end=" ")
  print()

enter the no of rows:4
* * * *
 * * *
  * *
   *

In [ ]:
##printing stars in diamond shape
def pyramid(rows):
  for i in range(rows):
    print(''*(rows-i-1)+'*'*(i+1))
  for j in range(rows-1,0,-1):
    print(''*(rows-j)+'*'(j))

<>:6: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:6: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<ipython-input-4-aff802a31785>:6: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print(''*(rows-j)+'*'(j))

In [ ]:
##rightangle triangle shape
num=int(input("enter the number of rows:"))
for i in range(num,0,-1):
  for j in range(0,i):
    print("*",end=" ")
  print()

enter the number of rows:5
* * * * *
* * * *
* * *
* *
*

In [ ]:
for row in range(7):
  for col in range(5):
    if ((col==0 or col==4) and row!=0) or ((row==0 or row==4) and(col>0 and col<4)):
      print("*",end="")
    else:
      print(end=" ")
  print()

 ***
*   *
*   *
*   *
*****
*   *
*   *

In [ ]:
for  row in range(7):
  for col in range(5):
     if(col==0 or col==4) or((row==0 or row==3 or row==6) and(col>0 and col<4)):
       print("*",end="")
     else:
       print(end=" ")
  print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [ ]:
for row in range(7):
  for  col in range(5):
    if (col==0) or ((row==0 or row==6)and(col>0)):
      print("*",end=" ")
    else:
      print(end=" ")
  print()

* * * * *
*
*
*
*
*
* * * * *

In [ ]:
for row in range(7):
  for col in range(5):
    if(col==0) or (col==4 and(row!=0 and row!=6)) or((row==0 or row==6) and(col>0 and col<4)):
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
*   *
*   *
*   *
****

In [ ]:
for row in range(7):
  for col in range(5):
     if col==0 or ((row==0 or row==3 or row==6)and (col>0)):
      print("*",end="")
     else:
       print(end=" ")
  print()

*****
*
*
*****
*
*
*****

In [ ]:
for row in range(7):
  for col in range(5):
     if (col==0) or((row==0 or row==3)and(col>0)):
       print("*",end="")
     else:
      print(end=" ")
  print()

*****
*
*
*****
*
*
*

In [ ]:
for row in range(7):
  for col in range(6):
      if col==0 or(col==4 and(row!=1 and row!=2)) or((row==0 or row==6) and (col>0  and col<4)) or(row==3 and (col==3 or col==5)):
         print("*",end="")
      else:
         print(end=" ")
  print()

*****
*
*
*  ***
*   *
*   *
*****

In [ ]:
for row in range(7):
  for col in range(5):
      if col==0 or col==4 or (row==3 and (col>0 and col<4)):
        print("*",end="")
      else:
         print(end=" ")
  print()

*   *
*   *
*   *
*****
*   *
*   *
*   *

In [ ]:
for row in range(7):
  for col in range(5):
    if col==2 or((row==0 or row==6) and col!=2):
      print("*",end="")
    else:
      print(end=" ")
  print()

*****
  *
  *
  *
  *
  *
*****

In [ ]:
for row in range(7):
   for col in range(5):
     if col==2 or(row==0 and col!=2)or(row==6 and col<2):
        print("*",end=" ")
     else:
        print(end=" ")
   print()

* * * * *
  *
  *
  *
  *
  *
* * *

In [ ]:
i=0
j=4
for row in range(7):
  for col in range(5):
     if col==0 or (row==col+2 and col>1):
       print("*",end="")
     elif ((row==i and col==j) and col>0):
       print("*",end="")
       i=i+1
       j=j-1
     else:
       print(end=" ")
  print()

*   *
*  *
* *
**
* *
*  *
*   *

In [ ]:
for row in range(7):
  for col in range(5):
    if col==0 or (row==6 and col>0):
      print("*",end="")
    else:
      print(end=" ")
  print()

*
*
*
*
*
*
*****

In [ ]:
for rows in range(7):
  for col in range(7):
    if col==0 or col==6  or((row==col) and(col>0 and col<4)) or (row==1 and col==5)or (row==2 and col==4):
       print("*",end="")
    else:
       print(end=" ")
  print()

*     *
*     *
*     *
*     *
*     *
*     *
*     *

In [ ]:
for row in range(6):
  for col in range(6):
     if col==0 or col==5 or (row==col and (col>0 and col<5)):
        print("*",end=" ")
     else:
        print(end=" ")
  print()

*     *
* *    *
*  *   *
*   *  *
*    * *
*     *

In [ ]:
for row in range(7):
   for col in range(5):
      if ((col==0 or col ==4) and (row!=0 and row!=6))or((row==0 or row==6) and (col>0 and col<4)):
          print("*",end="")
      else:
          print(end=" ")
   print()

 ***
*   *
*   *
*   *
*   *
*   *
 ***

In [ ]:
for row in range(7):
  for col in range(5):
    if col==0 or (col==4 and(row==1 or row==2))or((row==0 or row==3)and(col>0 and col<4)):
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
****
*
*
*

In [ ]:
for row in range(8):
   for col in range(5):
     if ((col==0 or col==4 )and (row>0 and row<6))or((row==0 or row==6)and (col>0 and col<4))or (row==5 and col==1)or(row==7 or col==3):
       print("*",end=" ")
     else:
       print(end=" ")
   print()

 * * *
*   * *
*   * *
*   * *
*   * *
* *  * *
 * * *
* * * * *

In [ ]:
for row in range(7):
  for col in range(5):
    if col==0 or(col==4 and(row!=0 and row!=3))or((row==0 or row==3) and(col>0 and col<4)):
      print("*",end="") 
    else:
      print(end=" ")
  print()

****
*   *
*   *
****
*   *
*   *
*   *

In [ ]:
for row in range(7):
  for col in range(5):
    if ((row==0 or row==3 or row==6 )and(col>0 and col<4))or (col==0 and (row>0 and row<3)) or (col==4 and (row>3 and row<6)):
        print("*",end=" ")
    else:
        print(end=" ") 
  print()

 * * *
*
*
 * * *
    *
    *
 * * *

In [ ]:
for row in range(7):
  for col in range(5):
    if col==2 or(row==0 and col!=2):
      print("*",end="")
    else:
      print(end=" ")
  print()  ##next line

*****
  *
  *
  *
  *
  *
  *

In [ ]:
for  row in range(7):
  for col in range(5):
    if ((col==0 or col==4)and row!=6) or  (row==6 and(col>0 and col<4)):
      print("*",end="")
    else:
      print(end=" ")
  print()

*   *
*   *
*   *
*   *
*   *
*   *
 ***

In [6]:
i=0
j=6
for row in range(4):
   for col in range(7):
       if   row==col:
         print("*",end="")
       elif row==i and col==j:
         print("*",end="")
         i=i+1
         j=j-1
       else:
         print(end=" ")
   print()

*     *
 *   *
  * *
   *

In [9]:
i=0
j=3
for row in range(4):
  for col in range(7):
    if col==0 or col==6 or (col==5 and row==2) or (col==4 and row==1):
      print("*",end="")
    elif row==i and col==j:
       print("*",end="")
       i=i+1
       j=j-1
    else:
      print(end=" ")
  print()

*  *  *
* * * *
**   **
*     *

In [12]:
i=0
j=4
for row in range(5):
  for col in range(5):
    if row==i and col==j:
      print("*",end="")
      i=i+1
      j=j-1
    elif row==col:
      print("*",end="")
    else:
      print(end=" ")
  print()

*   *
 * *
  *
 * *
*   *

In [14]:
for row in range(5):
  for col in range(5):
    if (col==2 and row>1)or (row==col and col<2)or (row==0 and col==4)or(row==1 and col==3):
      print("*",end="")
    else:
      print(end=" ")
  print()

*   *
 * *
  *
  *
  *

In [19]:
i=1
j=4
for row in range(0,6):
  for col in range(0,6):
      if row==0 or row==5:
         print("*",end="")
      elif row==i and col==j:
         print("*",end="")
         i=i+1
         j=j-1
      else:
         print(end=" ")
  print()

******
    *
   *
  *
 *
******