<a href="https://colab.research.google.com/github/ruthika5462/python-folders/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##count the number of digitts in a number
n=int(input("enter a digit"))
count=0
while(n>0):
  count=count+1
  n=n//10     ##it is a floor division
print("the number of digits in the number are:",count)

enter a digit7
the number of digits in the number are: 1

In [ ]:
##to print a inverted star pattern
n=int(input("enter the number of rows:"))
for i in range(n,0,-1):
  print((n-i)*''+i* '*')

enter the number of rows:10
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
#diamond   ##check the classes in the property if not there it goes for another class
class a:
     def display(self):
       print("i am display of class a")
class b(a):
    def display (self):
      print("iam display of class b")
class c(a):
    def display(self):
      print("iam display of class c")
class D (b,c):
    def display(self):
      print("i am display of class d")
o=D()
o.display()

i am display of class d

In [ ]:
##operator overloading
class addition:
  def __init__(self,a):
    self.a=a
  def __add__(o1,o2):
      return o1.a = o2.a
o1=addition(10)
o2=addition(20)

print('total:',(o1+o2))

SyntaxError: ignored

In [1]:
##abstract method
from abc import ABC ,abstractmethod
class bank(ABC):
   @abstractmethod
   def loan(self):pass

   @abstractmethod
    def credit(self):pass

   @abstractmethod
    def debit(self):pass

class hdfc(bank):
      def loan(self):
         print("he can provide  7.5% intrest loan")
      def credit(self):
         print("hdfc provide credit")
      def debit(self):
         print("hdfc provide debit")
      def card(self):
         print("hdfc provide card")
o=hdfc()
o.loan()
o.loan()

IndentationError: ignored